<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>認証メール完了 | Waffle</title>
    <link rel="stylesheet" href="/stylesheets/completed_email.css">
</head>
<body>
    <div class="container">
        <h1>Waffle</h1>
            <form action="/auth/room-choice">
                <p>
                    認証しました！<br>
                    ログイン完了
                </p>
                <button type="submit">ルーム選択へ</button>
            </form>
    </div>
</body>
</html>