<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>認証メール送信 | Waffle</title>
    <link rel="stylesheet" href="/stylesheets/confirm_email.css">
</head>
<body>
    <div class="container">
        <h1>Waffle</h1>
        <p>
        認証用メールを送りました<br>
        メールボックスのメールのURLから<br>
        認証をしてください
        </p>
    </div>
</body>
</html>