<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サインアップ | Waffle</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <!--英語用-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <!--日本語用-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
</head>
<body class="kosugi-maru-regular">
    <div class="container">
        <h1 class="poetsen-one-regular">Waffle</h1>
        <div class="login-box">
            <% if (errorMessage) { %>
                <div class="error-message"><%= errorMessage %></div>
            <% } %>
            <form id="signup-form" action="/auth/confirm_email" method="POST">
                <label for="email">メールアドレス</label>
                <input type="email" id="email" name="email" required>
                <label for="password">パスワード</label>
                <input type="password" id="password" name="password" required>
                <label for="confirm-password">パスワード確認</label>
                <input type="password" id="confirm-password" name="confirm-password" required placeholder="もう一度パスワードを入力">
                <div id="error-message" class="error-message"></div>
                <button type="submit">新規登録</button>
            </form>
        </div>
        <p class="register-link"><a href="/auth/signin">ログインの方はこちら</a></p>
    </div>
    <script>
        document.getElementById('signup-form').addEventListener('submit', function(event) {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm-password').value;
            var errorMessage = document.getElementById('error-message');
            var confirmPasswordInput = document.getElementById('confirm-password');

            if (password !== confirmPassword) {
                event.preventDefault();
                errorMessage.textContent = 'パスワードが一致しません';
                confirmPasswordInput.classList.add('error');
            } else {
                errorMessage.textContent = '';
                confirmPasswordInput.classList.remove('error');
            }
        });
    </script>
</body>
</html>