<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ルーム作成</title>
  <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
  <%- include('../components/header') %>
  <div class="container">
  <form action="/rooms/create" method="post">
    <label for="name">ルーム名</label>
    <input type="text" id="name" name="name" required>

    <label for="description">ルーム説明</label>
    <textarea id="description" name="description"></textarea>

    <div class="buttons">
    <a href="/rooms/select-mode" class="button">戻る</a>
    <input type="submit" value="作成" class="button">
  </div>
  </form>
</div>
</body>
</html>
