<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>モード選択</title>
</head>
<body>
  <a href="/rooms/new">ルーム作成</a>
  <a href="/rooms">ルーム一覧</a>
</body>
</html>
