<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>操作選択</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="button-container">
    <a class="custom-button" href="/rooms/new">ルーム作成</a>
    <a class="custom-button" href="/rooms/">ルーム参加</a>
  </div>
</body>
</html>
