<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= room.name %>
  </title>
  <link rel="stylesheet" href="/stylesheets/room/show.css">
  <script type="module" src="/scripts/main.js" defer></script>
</head>

<body>
  <%- include('../components/header') %>
    <canvas id="screen"></canvas>
</body>

</html>
