<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= room.name %>
  </title>
  <link rel="stylesheet" href="/stylesheets/room/show.css">

  <!-- for canvas -->
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/scripts/main.js" defer></script>
</head>

<body>
  <%- include('../components/header') %>
    <canvas id="screen" width="1000" height="420"></canvas>
</body>

</html>
