body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/image/waffle1.png');
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: -204px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #ffffff;
}

/*フォント英語専用*/
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
/*フォント日本語専用*/
.kosugi-maru-regular {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
  }