.button a {
    padding: 15px;
    background-color: #ffeca1;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    color: #A16452;
    text-decoration: none;
}

.button {
    width: fit-content;
}

.button a:hover {
    background-color: #d2c385;
}

header{
    z-index:10;
    padding: 80px;
}