body {
  margin: 150px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/image/waffle1.png');  
  background-size: cover;
  background-attachment: fixed;
}

/*フォント英語専用*/
.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
/*フォント日本語専用*/
.kosugi-maru-regular {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.btn a {
  padding: 10px;
  background-color: #ffeca1;
  border: none;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  color: #A16452;
  text-decoration: none;
}

.btn a:hover {
  background-color: #d2c385;
}

.btn {
  height: fit-content;
}

/*戻るボタン*/
.button2 {
  width: fit-content;
  margin-top: 2em;
}

.button2 a {
  padding: 10px;
  background-color: #ffeca1;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  color: #A16452;
  text-decoration: none;
}

.button2 a:hover {
  background-color: #d2c385;
}

.margin {
  margin: 130px;
}

.flex {
  display: flex; /*横並び*/
  justify-content: space-between;
  margin-top: 20px;
}

.roomname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;   /* テキストが溢れた場合に「...」を表示する */
  max-width: 200px;
}