body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EFCA83;
    /*background: url('/image/waffle1') ;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /*font-family: 'Segoe UI Black','Hannotate TC',sans-serif;
    background: url('/image/waffle1') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;*/
}

.container {
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-size: 4em;
    color: #A16452;
    margin-bottom: 20px;
}

.login-box {
    background-color: #A16452;
    padding: 30px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
    color: #fff;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
}

button {
    padding: 10px;
    background-color: #EFCA83;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    color: #A16452;
}

button:hover {
    background-color: #d4a554;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #586e7f;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}