body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/image/waffle1.png');
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.login-box {
    background-color: #A16452;
    padding: 30px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px 0;
    color: #fff;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2em;
}

button {
    padding: 10px;
    background-color: #ffeca1;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    color: #A16452;
}

button:hover {
    background-color: #d2c385;
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #ffffff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/*フォント英語専用*/
.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }
/*フォント日本語専用*/
.kosugi-maru-regular {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .error-message {
    color: red;
    text-shadow: 
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    margin-top: 5px;
    overflow-wrap: normal; /* 折り返しを有効にするyooo */
    white-space: pre-line; /* 改行を保持して折り返しを有効にするyooo */
}

/* ポップアップのスタイル */
.popup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A0522D; /* Light brown color */
    padding: 10px 20px;
    color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .popup img {
    margin-right: 10px;
  }
