<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザープロフィール | Waffle</title>
    <link rel="stylesheet" href="/stylesheets/show.css">
    <!-- 日本語用 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
</head>
<body class="kosugi-maru-regular">
    <div class="container">
        <div class="profile-box">
            <div class="profile-picture">
                <img src="<%= user.avatar || '/images/default-avatar.png' %>" alt="">
            </div>
            <h1><%= user.name %></h1>
            <div class="comment">
                <p><%= user.bio %></p>
            </div>
            <button class="back-button" onclick="goBack()">戻る</button>
        </div>
    </div>
        <script>
        function goBack() {
            window.history.back();
        }
        </script>
</body>
</html>